.service-backBtn {
    width: 100px;
    background-color: cornflowerblue;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.service-backBtn:hover {
    background-color: royalblue;
}